body, .container, .content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    color: #B0BEC5;
    font-weight: 400;
    font-family: "Tajawal", sans-serif;
}

.container {
  display: table-cell;
  vertical-align: middle;
}

.maintanance-img-wrapper img {
  width: 100%;
}

h3.maintanance-txt {
  line-height: 40px;
}
